.scroll-down {
  position: relative;
  text-align: center;
	height: 20%;
	background-color: #F0F0F0;
}

.scroll-down > a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.scroll-down > a span {
	position: absolute;
	top: 0;
	left: 50%;
	box-sizing: border-box;
	margin-left: -23px;
	width: 46px;
	height: 46px;
	border: 1px solid #005D9D;
	border-radius: 100%;
}
.scroll-down > a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	margin: -12px 0 0 -8px;
	width: 16px;
	height: 16px;
	border-bottom: 1px solid #005D9D;
	border-left: 1px solid #005D9D;
	content: '';
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
