.teaser-video {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.vert-center {
  overflow: visible;
  position: absolute;
  width: 100%;
  max-width: none;
  top: 50%;
  transform: translateY(-50%);
}

.text-wrap {
  margin: 0 auto;
  max-width: 840px;
  padding-top: 2.5%;
}

.text-wrap * {
  color: white;
}

.text-wrap > h1 {
  font-size: 3.6em;
  margin-bottom: 0.3em;
}
.text-wrap > h1::before {
  content: "";
  display: block;
  margin: 30px auto;
  width: 225px;
  height: 5px;
  background-color: #0dc3ff;
  position: relative;
}

.text-wrap > h3 {
  font-size: 20px;
}